*{
    margin: 0;
    padding: 0;
   
}


#banner{
    background:linear-gradient(rgba(0,0,0,0.5),#049ba0),url(3357684.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}


.coin-list{
    position: absolute;
    right: 10%;
    bottom: 50px;
    display: flex;
    align-items: center;
  
  }
  .coin{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0 15px;
    color: #ff960b;
    border: 1px solid #fff;
    padding: 20px 30px;
    border-radius: 8px;
  
  }
  .coin img{
    width: 40px;
    margin-right: 10px;
  }
  .coin h3{
    color: rgb(248, 252, 249);
    margin-bottom: 5px;
  }
   

.banner-text{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 180px; 
}
.auto-input{
    color: #07df68;
    font-family: 'Noto Serif Lao', serif;
    font-family: 'Source Code Pro', monospace;

   
   
    
}
.banner-text h1{
    font-size: 100px;
    
    
}
.banner-text p{
    font-size: 30px;
    font-style: italic;
    font-family: 'Source Code Pro', monospace;

}
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: rgb(255, 255, 255);
    border: .5px solid rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    transition: color 0.5s;
    
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(6, 198, 215);
    z-index: -1;
    transition: 0.5s;
    
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color: #000;
}



#sidenav {
    background: linear-gradient(rgba(2, 205, 131, 0.5), #027f92), url(nft.jpg);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    z-index: 2;
    transition: 0.5s;
  }
  
  nav ul {
    list-style: none;
    margin: 30px 0;
    padding: 0;
  }
  
  nav ul li a {
    font-size: 20px;
    text-decoration: none;
    display: block;
    color: rgb(251, 250, 250);
    padding: 10px 16px;
    font-family: 'Noto Serif Lao', serif, 'Source Code Pro', monospace;
    padding-top: 5px;
  }
  
  nav ul li a:hover {
    background: linear-gradient(rgba(15, 169, 112, 0.5), #c7dde0);
    color: #000000;
    font-size: 20px;
    font-family: 'Noto Serif Lao', serif, 'Source Code Pro', monospace;
  }
  
  .sidenav nav img {
    align-items: center;
  }
  
  #menubtn {
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
    
   
   
  }
  
  #menubtn img {
    width: 50px;
    margin-top: 1px;
    border: 4px solid rgba(248, 249, 248, 0.933);
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px rgba(2, 205, 131, 0.5);
  }
  
  
  @media only screen and (max-width: 414px) {
    .banner-text h1 {
      font-size: 24px;
    }
    .banner-text p {
      font-size: 16px;
      max-width: 300px;
    }
  }
  
  



/*--feattures--*/
#feattures{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;

}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #1584a3;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#0d669a,rgb(0, 0, 0));
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.title-text h1{
    font-size: 50px;
    color: #1584a3;
}
.title-text h2{
    font-size: 50px;
    color: #fcfefe;
}
.featture-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.feattures{
    flex-basis: 50%;
}
.feattures-img{
    flex-basis: 50%;
    margin: auto;
}
.feattures-img img{
    width: 70%;
    border-radius: 10px;
}
.feattures h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #12b6c1;
}
.featture-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.featture-text p{
    padding: o 20px;
    text-align: initial;

}
@media screen and (max-width: 770px){
    .title-text h1{
        font-size: 35px;
    }
    .feattures{
        flex-basis: 100%;
    }
    .feattures-img{
        flex-basis: 100%;
        margin: auto;
    }
    .feattures-img img{
        width: 100%;
    }

}/*----service---*/
#service{
    width: 100%;
    padding: 70px 0;
    background: linear-gradient(#00bcd4,#03b38a,#f8f8f9,#00bcd4);
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;    
}
.single-service{
    flex: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: rgb(4, 109, 109);
    position: relative;
}
.single-service img{
    width: 95%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(4, 128, 78, 0.3),#f1eeee);
    opacity: 0;
    transition: 1s;
}
.single-service:hover .overlay{
    opacity: 1;
}
.service-desc{
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
.hr{
     background: rgb(0, 0, 0);
     height: 2px;
     border: 0;
     margin: 15px auto;
     width: 60%; 
 }
 .service-desc p{
     font-size: 14px; 
 }
 .single-service:hover .service-desc{
     bottom: 40%;
     opacity: 1;

 }
 @media screen and (max-width: 770px){
    .single-service{
        flex-basis: 100%;
        margin-bottom: 30px;  
    }
    .service-desc p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;  
    }
    .single-service:hover .service-desc{
        bottom: 25% !important;
        
   
    }
 }


 
 /*-----tesimonial----*/

 #tesimonial{
     width: 100%;
     padding: 70px 0;
 }
 .tesimonial-row{
     width: 80%;
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     flex-wrap: wrap;
 }
 .tesimonial-col{
     flex-basis: 28%;
     padding: 10px;
     margin-bottom: 30px;
     border-radius: 5px;
     box-shadow: 0 10px 20px 3px #037288;
     cursor: pointer;
     transition: transform .5s;
 }
 .tesimonial-col p{
     font-size: 16px;
 }
 .user{
     display: flex;
     align-items: center;
     margin: 20px 0;
 }
 .user img{
     width: 40px;
     margin-right: 20px;
     border-radius: 3px;
 }
 .user-info small{
     color: #d72424;
 }
 .tesimonial-col:hover{
     transform: translateY(-7px);
 }
 @media screen and (max-width: 770px){
    .tesimonial-col{
        flex-basis: 100%;

    }
 }

/*---footer----*/

#footer{
     padding: 100px 0 20px;
     background: #033f7b;
     position: relative;
 }
 

 footer{
    width: 100%;
    padding: auto; 
    bottom: 0;
    background: linear-gradient( to right,#1a4f81,#045235);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 20px;
    line-height: 20px;
   }
   .row{
    width: 85%;
    margin: auto;
    display:flex ;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  
   }
   .col{
    flex-basis: 25%;
    padding: 10px;
   }
   .col:nth-child(2),.col:nth-child(3),.col:nth-child(4)
   {flex-basis: 15%;
    
   }
   .logo1{
    width: 100px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px 5px rgba(2, 205, 131, 0.5);
   
    
    
   }


   .col h3{
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    
   }
   
   
   
   .col h4 a {
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    color: #f9fafa;
    
   }
   .email-id{
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: 1px solid rgb(6, 181, 239);
    margin:20px 0 ;
   }
   ul li{
    list-style: none;
    margin-bottom: 12px;
   }
   ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
   }
   form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
   }
   form .far{
    font-size: 18px;
    margin-inline-start: 10px;
   }
   form input{
  width: 100%;
  background: transparent;
  color:#ccc;
  border: 0;
  outline: none;
   }
   form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
   }
   form button .far{
    font-size: 16px;
    color: #ccc;
   }
   hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
   }
   .coppy{
    text-align: center;
  
   }
   .underline{
    width: 100%;
    height: 5px;
    background: #06b27c;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
   }
   .underline span{
    width: 15px;
    height: 100%;
    background: rgb(249, 250, 249);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
   }
   @keyframes moving{
    0%{
      left: -20px;
    }
    100%{
      left: 100px;
    }
   }
   @media (max-width: 700px){
    footer{
      bottom: unset;
    }
    .col{
      flex-basis: 100%;
    
     }
     .col:nth-child(2),.col:nth-child(3),.col:nth-child(4)
     {flex-basis: 100%;
      
     }
   }
 @media screen and (max-width: 770px){
    .footer-lift,.footer-right{
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer-img{
        top: 25%;
    }
 }



